#div1 {
    background-color: aqua;
    padding: 10px;
}

#div2 {
    background-color: bisque;
    padding: 10px;
}

#div3 {
    background-color: chartreuse;
    padding: 10px;
    font-size: larger;
}